# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Raw data
data/raw/*

# Processed/output files
data/processed/*
output/*

# Keep folders even when empty
!data/raw/.gitkeep
!data/processed/.gitkeep
!output/.gitkeep
